body 
{
    margin: 0;
	padding: 0;
}
.navbar
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #788;
	color: #ggg;
	margin: 3rem;
}
.Brand-title
{
	font-size: 2.5rem;
	margin: .5rem;
	font-family: arial;
}
.navbar-links ul
{
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links ul
{
	list-style: none;
}
.navbar-links li a
{
	font-size: 1.3rem;
	text-decoration: none;
	color: #fff;
	padding: 1rem;
}
.navbar-links li a:hover
{
	color: yellow;
}
