*
{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

*
{
	margin: 0px;
	padding: 0px;
}
body
{
	font-family: arial;	
}
nav
{
	background:#0082e6;
	height: 50px;
	width: 75%;
	margin: 0 auto;
	margin-top: 10px;
	display: flex;
	box-shadow: 5px 5px silver;
	border-radius: 5px solid;
}

label.logo
{
	color: #fff;
	font-size: 35px;
	line-height: 50px;
	padding: 0 50px;
	font-weight: bold;
}

nav ul
{
	float: right;
	margin-right: 30px;
}

nav ul li
{
	display: inline-block;
	line-height: 45px;
	margin: 0 5px;
}

nav ul li a 
{
	color:#fff;
	font-size: 17px;

}
